* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
}

body {
  background-color: #000000
}


section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section h1 {
  text-shadow: 2px 5px 5px #2f3542;
  word-spacing: 10px;
  margin-bottom: 15px;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.centerDiv {
  width: 60%;
  height: 450px;
  box-shadow: 2px 2px 2px 5px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #57606f;
  color: white;
}



.details {
  text-align: center;
  text-transform: uppercase;
}

.details label {
  font-size: 1.4rem;
}

.details input {
  padding: 10px;
  background-color: greenyellow;
  color: black;
  text-align: center;
}

.details input[type=text]:focus {
  border: 3px solid #555;
}

.imgdiv {
  margin: 30px 0;
}


button {
  background-color: greenyellow;
  color: black;
  width: 180px;
  padding: 4px 0;
  border-radius: 3px;

  font-size: 1.2rem;
  letter-spacing: 2px;
  background-color: darken(#f1c40f, 20%);
}


button:hover {
  cursor: pointer;
}


@media screen and (max-width:980px) {

  .centerDiv {
    background-color: red;
    height: 700px;
    width: 80%;

  }
h1{

  margin-top: 25px;
  font-size: 5rem;
}
  .details label{
    
  font-size: 2.5rem;
}
.details input {
  height: 80px;
  width: 400px;
  padding: 10px;
  background-color: greenyellow;
  color: black;
  text-align: center;
  font-size: 2.5rem;
}
button{
  width: 280px;
  height: 50px;
  font-size: 2rem;
}


}